.container  {
    background: palegreen;
    margin: 20px;
    width: 300px;
    height: 250px;
    padding: 10px;
    
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 10px;
    column-gap: 20px;  ou*/
    gap: 30px 20px;
}

.item {
    background: orange;    
}

#container-01 {
    flex-direction: row;    
}

#container-02 {
    flex-direction: column;     
}