.container {
    background: palegreen;
    /* padding: 20px; */
    margin: 20px;
    width: 300px;

    display: flex;
    justify-content: space-between;    
}

.item {
    background: orange;
    margin: 10px;
}

#container-01 {    
    flex-flow: row wrap;
}

#container-02 {    
    height: 300px;
    flex-flow: column wrap-reverse;      
}

