.container {
    background: palegreen;
    padding: 20px;

    display: inline-flex; /*coloca um do lado do outro dependenod do tamanho da tela*/
}

.item {
    background: orange;
    margin: 10px;
}